.icon-add {
    background-image: url('../images/icons/fam/add.png') !important;
}
.icon-edit {
    background-image: url('../images/icons/fam/pencil.png') !important;
}
.icon-remove {
    background-image: url('../images/icons/fam/delete.png') !important;
}
.icon-form {
    background-image: url('../images/icons/fam/application_form.png') !important;
}
.icon-grid {
    background-image: url('../images/icons/fam/grid.png') !important;
}
.icon-pencil {
    background-image: url('../images/icons/fam/pencil.png') !important;
}
.icon-save {
    background-image: url('../images/icons/fam/save.png') !important;
}
.icon-reset {
    background-image: url('../images/icons/fam/stop.png') !important;
}
.icon-excel {
    background-image: url('../images/icons/fam/page_excel.png') !important;
}
.icon-print {
    background-image: url('../images/icons/fam/printer.png') !important;
}
.icon-pdf {
    background-image: url('../images/icons/fam/pdf_icon.png') !important;
}
.icon-calc {
    background-image: url('../images/icons/fam/calculator.png') !important;
}
.icon-import {
    background-image: url('../images/icons/fam/calculator.png') !important;
}
.icon-grid-detail {
    background-image: url('../images/icons/fam/application_view_detail.png') !important;
}
.icon-gen {
    background-image: url('../images/icons/fam/plugin_add.gif') !important;
}
.icon-plugin {
    background-image: url('../images/icons/fam/plugin.gif') !important;
}