.icon-add {
    background-image: url('../images/icons/fam/add.png') !important;
}
.icon-remove {
    background-image: url('../images/icons/fam/delete.png') !important;
}
.icon-form {
    background-image: url('../images/icons/fam/application_form.png') !important;
}
.icon-grid {
    background-image: url('../images/icons/fam/grid.png') !important;
}
.icon-save {
    background-image: url('../images/icons/fam/save.png') !important;
}
.icon-reset {
    background-image: url('../images/icons/fam/stop.png') !important;
}
.icon-excel {
    background-image: url('../images/icons/fam/page_excel.png') !important;
}
.icon-print {
    background-image: url('../images/icons/fam/printer.png') !important;
}
.icon-pdf {
    background-image: url('../images/icons/fam/pdf_icon.png') !important;
}