

/* ==========================================================================
   Author: IIN
   ========================================================================== */

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

label.font {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: white;
	font-weight:bold;	
	}
input.font {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:white;}
	
#body{
	font-weight:bold;
}	
#container{
	width: 99%;
	height: auto;
	position: absolute;
	top: 15%;
	}		
#logo{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 20px;
	left: 40%;
	background-image: url(../images/yamahalogo02.png);
	background-repeat: no-repeat;
	background-size: 250px 100px;
	}
	
#login{
	width: 400px;
	height: 250px;
	position: absolute;
	top: 130px;
	left: 35%;
	background-image: url(../img/login/login.png);
	background-repeat: no-repeat;
	background-size: 400px 200px;
}

#form_login{
	width: 250px;
	height: 150px;
	position: absolute;
	top: 40px;
	left: 150px;
	}

#icon_login{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 30px;
	background-image: url(../img/login/lock.png);
	background-repeat: no-repeat;
	background-size: 100%;
	left: 0px;
	}

#menu{
	position: absolute;
	top: 180px;
	left:20.5%;
	}
	
#icon_logout{
	width:100%;
	height:auto;
	position:absolute;
	left:0;
	}

/* End of file login.style.css */
/* Location: ./assets/css/login.style.css */